@import "../styles/variable.css";

.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .logo {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .login-error {
        color: var(--error-color);
        font-size: 14px;
        margin-bottom: 12px;
    }

    .login-title {
        text-align: center;
        font-size: var(--main-heading-font);
        margin-bottom: 30px;
    }

    .footer-text {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    @media (max-width: 480px) {
        .login-card {
            padding: 30px 20px;
        }

        .login-title {
            font-size: 24px;
        }
    }
}