@import "../styles/variable.css";

.Signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title{
        font-size: var(--main-heading-font);
    }

    .subtitle {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 0;
        font-size: var(--body-text-font-16);
    }

    .error {
        color: var(--error-color);
        text-align: center;
        margin-bottom: 10px;
    }

    .success {
        color: green;
        text-align: center;
        margin-bottom: 10px;
    }
}