@import "./variable.css";

.btn
{
  	cursor: pointer;
  	transition: border-color 0.25s;
  	border: 1px solid transparent;
	border-radius: 8px;
  	padding: 12px 28px;
	font-size: var(--body-text-font-16);

	&.primary {
		background: var(--primary-button-color);
		color: var(--primary-button-text-color);
	}

	&.primary:hover {
		background-color: var(--primary-button-hover-color);
	}

	&.secondary {
		background-color: transparent;
		border: 1px solid var(--secondary-button-border-color);
		color: var(--secondary-button-text-color);
	}

	&.secondary:hover {
		border-color: var(--primary-button-hover-color);
		color: var(--primary-button-hover-color);
	}
}